parameters:
    level: 2
    bootstrapFiles:
        - .env
    paths:
        - database/*
        - app/*
        - tests/*
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - app/Infrastructure/Laravel/*
        - bootstrap/*
        - config/*
        - storage/*
        - vendor/*
    ignoreErrors:
        - '#Constant [a-zA-Z0-9\\_]+ not found#'
        - '#PHPDoc#'
        - '#PHPUnit#'
        - '#Propel#'
        - '#Call to an undefined method Illuminate\\.*#'
