// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

*,
*::after,
*::before {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 100px;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
}



.page-header {
    .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.header {
    background-color: transparent;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: 0.5s;

    &_nam

    &_toggle {
        color: var(--color-primary-color);
        font-size: 1.5rem;
        cursor: pointer;
    }

    &_img {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 40px;
        }
    }
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--color-primary-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        hr {
            color: var(--color-white);
        }

        &_logo,
        &_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: 0.5rem 0 0.5rem 2.5rem;
        }

        .nav_logo {
            padding: 0.5rem 0 0.5rem 1.75rem;
            transition: 0.5s;

            &.show {
                padding: 0.5rem 0 0.5rem 4.5rem;
            }
        }

        &_logo {
            margin-bottom: 2rem;

            &_icon {
                font-size: 1.25rem;
                color: var(--color-white);
            }

            &_name {
                color: var(--color-white);
                font-weight: 700;
            }
        }

        &_link {
            position: relative;
            color: var(--color-secondary-color);
            margin-bottom: 1.5rem;
            transition: 0.3s;

            i {
                font-size: 1.5rem;
            }

            &:hover {
                color: var(--color-white);
            }
        }
    }

    &.show {
        width: 200px;
    }
}

#body-pd {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.32'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    a {
        text-decoration: none;
    }
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--color-white);

    i {
        color: var(--color-white);
    }

    span {
        color: var(--color-white);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--color-white);
    }
}

._height-100 {
    height: 100vh;
}

@media screen and (min-width: 768px) {
    #body-pd{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);

        &_img {
            width: 40px;
            height: 40px;

            img {
                width: 45px;
            }
        }
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;

        &_show {
            width: calc(var(--nav-width) + 156px);
        }
    }

    #body-pd {
        //padding-left: calc(var(--nav-width) + 188px);
    }
}

