$breadcrumb-divider: quote(">");
$variables: (
    breakpoints: (
        xxs      : 401px,
        xs       : 576px,
        sm       : 768px,
        md       : 960px,
        lg       : 1024px,
        xl       : 1360px,
        xxl      : 1800px,
        xxxl     : 3000px,
    ),


    colors: (

        white:    #FFFFFF,
        gray-100: #F5F7FB, // Backgrounds
        gray-300: #D7DDEF, // Borders
        gray-500: #99A1B7,
        gray-700: #252C44, // Primary text
        black:    #000000,

        light: #F5F7FB,
        dark:  #252C44,

        gradient-background-color-1: #1B8087,
        gradient-background-color-2: #7DDCE3,

        system-success: #2EC700,
        system-info: #0D76B3,
        system-warning: #FFBC00,
        system-danger: #FF2626,

        primary-color: #1B8087,
        primary-color-hover: darken(#1B8087, 10%),
        secondary-color: #7DDCE3,
        secondary-color-hover: darken(#7DDCE3, 10%),
        tertiary-color: #46B5BD,
        tertiary-color-hover: darken(#46B5BD, 10%),
        quaternary-color: #406F73,
        quaternary-color-hover: darken(#406F73, 10%),
        quinary-color: #D8E5E6,
        quinary-color-hover: darken(#D8E5E6, 10%),

        link: #87B5F7,
        link-hover: darken(#87B5F7, 10%)
    ),

    containers: (
         sm: 540px,
         md: 720px,
         ml: 760px,
         lg: 880px,
         xl: 1080px,
        xxl: 1200px,
    ),

    fonts: (
        body: ("Roboto","Segoe UI","Helvetica Neue","Arial","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"),
        heading: ("Montserrat","Segoe UI","Roboto","Helvetica Neue","Arial","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji")
    )
);

:root, :before, :after {
    --bs-primary: var(--color-primary-color);
    --bs-primary-rgb: var(--color-primary-color-rgb);
    --bs-secondary: var(--color-secondary-color);
    --bs-secondary-rgb: var(--color-secondary-color-rgb);
    --bs-success: var(--color-system-success);
    --bs-success-rgb: var(--color-system-success-rgb);
    --bs-info: var(--color-system-info);
    --bs-info-rgb: var(--color-system-info-rgb);
    --bs-warning: var(--color-system-warning);
    --bs-warning-rgb: var(--color-system-warning-rgb);
    --bs-danger: var(--color-system-danger);
    --bs-danger-rgb: var(--color-system-danger-rgb);
    --bs-light: var(--color-white);
    --bs-light-rgb: var(--color-white-rgb);
    --bs-dark: var(--color-black);
    --bs-dark-rgb: var(--color-black-rgb);
    --bs-white: var(--color-white);
    --bs-white-rgb: var(--color-white-rgb);
    --bs-black: var(--color-black);
    --bs-black-rgb: var(--color-black-rgb);
    --bs-gray-100: var(--color-gray-100);
    --bs-gray-200: #E9ECEF;
    --bs-gray-300: var(--color-gray-300);
    --bs-gray-400: #ADB5BD;
    --bs-gray-500: var(--color-gray-500);
    --bs-gray-600: #6C757D;
    --bs-gray-700: var(--color-gray-700);
    --bs-gray-800: #343A40;
    --bs-gray-900: #212529;
    --bs-white-50: rgba(255, 255, 255, 0.5);
    --bs-black-50: rgba(0, 0, 0, 0.5);
    --bs-body-bg: var(--color-white);
}
