body {
    height: 100vh;
}

#auth-right-side {
    $color-gradient-background-color-1: var(--color-gradient-background-color-1);
    $color-gradient-background-color-2: var(--color-gradient-background-color-2);
    background: linear-gradient(120deg, $color-gradient-background-color-1 0%, $color-gradient-background-color-2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
        width: 125px;
    }

    #preview {
        margin-top: 1.25rem;
        width: 80%;
    }

    h2 {
        margin-top: 5rem;
        color: var(--color-white);
        font-size: 1.75rem;
        font-weight: 600;
    }

    p {
        margin-top: 1rem;
        color: var(--color-white);
        text-align: center;
        width: 400px;
    }
}

#auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .auth-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: var(--color-gray-500);
        font-size: 0.75rem;
        font-weight: 600;
    }

    .auth-wrapper {
        padding: 2.5rem;
        width: 500px;
    }

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
    }

    .terms-group {
        margin-top: 1rem;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row-reverse;

        input {
            margin-right: 0.5rem;
        }
    }

    .btn {
        padding: 0.65rem 1.25rem;
        font-size: 1rem;
    }

    .btn-primary {
        background-color: var(--color-primary-color);
    }

    #loginBtn {
        background-color: var(--color-primary-color);
        width: 100%;
        font-size: 1rem;
    }

    .btn-back {
        width: 6rem;
        background-color: var(--color-gray-100);
        color: var(--color-black);
    }

    .form-tooltip {
        color: var(--color-gray-500);
        font-size: 0.75rem;

    }

    #top-link-wrapper {
        position: relative;
        top: -25px;
        color: var(--color-gray-500);
        text-align: center;

        font-size: 0.85rem;

        a {
            text-decoration: none;
            color: var(--color-primary-color);
        }
    }

    #bottom-link-wrapper {
        margin-top: 1rem;
        color: var(--color-gray-500);
        text-align: center;

        a {
            text-decoration: none;
            color: var(--color-primary-color);
        }
    }

    form {
        width: 100%;
    }

    input[type="checkbox"] {
        position: relative;
        width: 1.5rem;
        height: 1.5px;
        margin-right: 0.5rem;
        border-radius: 50px;
        color: red;

    }

    .form-outline {
        margin-top: 1.5rem;
        width: 100%;

        input {
            border-radius: 0px;
            padding: 0.75rem 1rem;
            font-size: 1rem;
        }
    }

    .forgot-password {
        margin-top: 1rem;
        color: var(--color-primary-color);
        font-size: 0.75rem;
        font-weight: 600;
        float: right;
        text-decoration: none;


    }
}
