#auth {
    background: rgb(112,151,206);
    background: linear-gradient(90deg, rgba(112,151,206,1) 0%, rgba(133,136,196,1) 100%);
    height: 100vh;

    #imageSide {
        background-color: #87B5F7;
        border-radius: 1rem;
    }

    #logo {
        height: 100%;
        width: 100%;
        object-fit: none;
        object-position: center center;
    }

    #loginBtn {
        width: 100%;
        background-color: #656ED3;
        z-index: 1;
        position: relative;
    }

    p {
        z-index: 1;
        position: relative;
    }

    #rectangleLogin {
        position: absolute;
        top: 64%;
        transform: rotate(270deg);
        right: 1%;
    }

    #rectangleRegister{
        position: absolute;
        top: 72.7%;
        transform: rotate(270deg);
        right: 1%;

    }

}
