@mixin max-lines($lines) {
    &:not(.no-text-wrap) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: #{$lines};
        -webkit-box-orient: vertical;
    }
}

// Limit lines of text
@for $i from 1 through 10 {
    .max-lines-#{$i} {
        @include max-lines($i);
    }
}
