name: Commit

on:
  push: {}

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'
      - uses: actions/checkout@v3
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --ignore-platform-reqs
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Laravel-pint
        uses: aglipanci/laravel-pint-action@0.1.0
        with:
          preset: laravel
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: php artisan test

  compile-production-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Compile and Minify SCSS for Production
        run: |
          npm install
          npm run build
      - name: Commit Changes
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git add .
          git commit -m "Compile and minify production files" || echo "No changes to commit"

  code-styling-fixer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --ignore-platform-reqs
      - name: Run PHP Stan
        run: vendor/bin/phpstan analyze app --level 6
      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix .
      - name: Commit Changes
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git add .
          git commit -m "Apply code styling fixes" || echo "No changes to commit"
