name: Laravel CI

on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Copy .env
        run: cp .env.example .env

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
        id: php-setup

      - name: Cache Composer Dependencies
        uses: actions/cache@v2
        with:
          path: |
            vendor
          key: composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ runner.os }}-

      - name: Install Composer Dependencies
        run: |
          composer install --no-scripts --no-progress --prefer-dist --no-interaction

  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Copy .env
        run: cp .env.example .env

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
        id: php-setup

      - name: Cache Composer Dependencies
        uses: actions/cache@v2
        with:
          path: |
            vendor
          key: composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ runner.os }}-

      - name: Generate Key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Run PHPUnit Tests
        run: php artisan test

  php-cs-fixer:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Copy .env
        run: cp .env.example .env

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
        id: php-setup

      - name: Cache Composer Dependencies
        uses: actions/cache@v2
        with:
          path: |
            vendor
          key: composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ runner.os }}-

      - name: Generate Key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix --diff --dry-run -v

  compile-front-end:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Copy .env
        run: cp .env.example .env

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
        id: php-setup

      - name: Cache Composer Dependencies
        uses: actions/cache@v2
        with:
          path: |
            vendor
          key: composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ runner.os }}-

      - name: Compile and Minify SCSS for Production
        run: npm install && npm run build

  static-analysis:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Copy .env
        run: cp .env.example .env

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
        id: php-setup

      - name: Cache Composer Dependencies
        uses: actions/cache@v2
        with:
          path: |
            vendor
          key: composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ runner.os }}-

      - name: Generate Key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Static Code Analysis with PHPStan
        run: vendor/bin/phpstan analyze app --level 6

  code-coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage
          path: coverage.xml

  cleanup:
    runs-on: ubuntu-latest
    needs: [test, php-cs-fixer, compile-front-end, static-analysis]
    steps:
      - name: Remove .env
        run: rm -f .env
